body {
    background-color: rgb(90, 90, 90);
    color: rgb(255, 255, 255);
    
    background-image: url('wendy3.png'); 
     /* background-repeat: no-repeat; */
    background-size: 100% auto;
    background-attachment: fixed; 

  }

 

  #gitHubIcon {
    width: 40px;
    height: auto;
  }

  #searchbar {
    padding: 10px;
    justify-content: flex-end;
  }

  .nav-heading {
    padding: 10px;
  }

  /* .list-class {
    padding: 10px;
  } */

  .main {
    /* max-width: 600px; */
	  margin: 0 auto;
    text-align: center;
  }

  #imgPoster {
    height: 433px;
    width: 285px;
    box-shadow: 5px 5px 5px black;
    transition-duration: 0.2s;
  }

  #imgPoster:hover {
    transition-duration: 0.2s;
    box-shadow: 8px 8px 8px black;
  }

  .itemListClass {
    transition-duration: 0.8s;
  
   
    box-shadow: 5px 5px 5px black;

  }

  .itemListClass:hover {
    transition-duration: 0.8s;
    box-shadow: 15px 8px 8px black;
  }
 

  #movieList {
    min-height: 100vh;
  }

  #Director {
    padding-top: 20px;
  }



  #trailer {
    width: 400px;
    height: 250px;
    transition-duration: 0.2s;
    box-shadow: 5px 5px 5px black;
  }

  #trailer:hover {
    transition-duration: 0.2s;
    box-shadow: 8px 8px 8px black;
  }
 

  .space {
    height: 50px;
  }
 
  #Title {
    text-shadow: 5px 10px 5px black;
  }

  #submitInput {
    background-color: #042b69;
    border-color: #042b69;
    border-radius: 0;
  }

  #submitInput:hover {
    background-color: #064cbd;
    border-color: #064cbd;
  }

  #dropdown {
    background-color: rgb(148, 148, 148);
  
  }

  #dropdown:hover {
    background-color: rgb(148, 148, 148);
  
  }

  #dropdown a {
    color: #042b69;
  }

  #heading {
    color: #064cbd;
  }

  #lists {
    color: white;
  }

  #userInput {
    border-radius: 0;
  }

.flex {
  min-height: 60pt;
  padding-top: 20px;
}

@keyframes loading {
  0% {
    width: 50pt;
    height: 50pt;
    margin-top: 0;
  }
  25% {
    height: 4pt;
    margin-top: 23pt;
  }
  50% {
    width: 4pt;
  }
  75% {
    width: 50pt;
  }
  100% {
    width: 50pt;
    height: 50pt;
    margin-top: 0;
  }
}

#loader {
  width: 50pt;
  height: 50pt;
  border-radius: 100%;
  border: #042b69 4pt solid;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  animation: loading 1s infinite;
  display: none;
}

::-webkit-scrollbar {
  width: 12px;
	background-color: rgb(90, 90, 90);
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #042b69;
}
