body {
    background-color: rgb(90, 90, 90);
    color: white;
  }

  #gitHubIcon {
    width: 40px;
    height: auto;
  }

  #searchbar {
    padding: 10px;
    justify-content: flex-end;
  }

  .nav-heading {
    padding: 10px;
  }

  .list-class {
    padding: 10px;
  }

  .main {
    max-width: 600px;
	  margin: 0 auto;
    text-align: center;
  }

  #imgPoster {
    height: 456px;
    width: 300px;
    box-shadow: 5px 5px 5px black;
    transition-duration: 0.2s;
  }

  #imgPoster:hover {
    transition-duration: 0.2s;
    box-shadow: 8px 8px 8px black;
  }

  .itemListClass {
    transition-duration: 0.8s;
    min-width: 200px;
    max-width: 300px;
    height: auto;
    box-shadow: 5px 5px 5px black;
    margin: 10px 20px 60px 0px;
  }

  .itemListClass:hover {
    transition-duration: 0.8s;
    box-shadow: 15px 8px 8px black;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
  }

  /* .plot {
    padding-top: 20px;
    max-width: 300px;
	  margin: 0 auto;
    text-align: center;
  } */

  #movieList1 {
    margin-left: 50px;
  }

  #Director {
    padding-top: 20px;
  }

  #Starring {
    padding-top: 10px;
    font-weight: 600;
    text-decoration: underline;
  }

  .menu {
    margin-right: 10px;
  }
